{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['MYPROJ_NAME'] }} - {{ _('Change Email Address') }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ _('Change Your Email Address') }}</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}