{% extends "base.html" %}

{% block title %}{{ config['MYPROJ_NAME'] }} - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        {{ _('Hello, {{ current_user.username }}') }}!
    </h1>
    <h3>{{ _('You have not confirmed your account yet.') }}</h3>
    <p>
        {{ _('Before you can access this site you need to confirm your account.
        Check your inbox, you should have received an email with a confirmation link.') }}
    </p>
    <p>
        {{ _('Need another confirmation email?') }}
        <a href="{{ url_for('auth.resend_confirmation') }}">{{ _('Click here') }}</a>
    </p>
</div>
{% endblock %}