{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['MYPROJ_NAME'] }}- Admin{% endblock %}


{% block page_content %}
<div class="page-header">
    {% for project in projects %}
    <p>{{ project.name }}</p>
    {% endfor %}
</div>
{% endblock %}