{% if projects %}
{% for project in projects %}
    {% if project.deleted %}
    {% else %}
	<div class="panel panel-success">
	    <div class="panel-heading">{{ project.name }}</div>
	    <div class="panel-body">
	        <div class="col-sm-7">
		        <p>URL: {{ project.url }}</p>
		        <p>Info: {{ project.requirements }}</p>
		        <p>Id: {{ project.id }}</p>
	        </div>
	        <div>
	        {% if project.configured %}
	            <form action="{{ url_for('proj.delete') }}" method="post">
	                {{ form.csrf_token }}
					<input type="hidden" value="{{ project.id }}" name="project_to_delete_id"></input>
					<button type="submit" value="download" name="download" class="btn btn-default">{{ _('Download') }}</button>
					<button type="submit" value="update" name="update" class="btn btn-info">{{ _('Update') }}</button>
					<button type="submit" value="delete" name="delete" class="btn btn-danger">{{ _('Delete') }}</button>
				</form>
			{% else %}
			    <form action="{{ url_for('proj.delete') }}" method="post">
                    {{ form.csrf_token }}
                    <button type="submit" value="download" name="download" class="btn btn-default" disabled>{{ _('Download') }}</button>
                    <button type="submit" value="update" name="update" class="btn btn-info" disabled>{{ _('Update') }}</button>
                    <button type="submit" value="delete" name="delete" class="btn btn-danger" disabled>{{ _('Delete') }}</button>
                </form>
			{% endif %}
	        </div>
	    </div>
	</div>
    {% endif %}
{% endfor %}
</ul>
{% else %}
   <p>{{ _('No projects have been created yet.') }}
{% endif %}