{% extends "base.html" %}

{% block title %}{{ config['MYPROJ_NAME'] }} - Forbidden{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ _('Forbidden') }}</h1>
</div>
{% endblock %}