<ul class="posts">
    {% for article in articles %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=article.author.username) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(article.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user', username=article.author.username) }}">{{ article.author.username }}</a></div>
            <div class="post-body">{{ article.body }}</div>
            <div class="post-footer">
                {% if current_user == article.author %}
                <a href="{{ url_for('.edit', id=article.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=article.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.article', id=article.id) }}">
                    <span class="label label-default">Permalink</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>