{% extends "base.html" %}

{% block title %}{{ config['MYPROJ_NAME'] }} - {{ _('Admin page') }}{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_administrator() %}
    <p>{{ _('For admin only') }}.</p>
    {% endif %}
</div>
{% endblock %}