{% extends "bootstrap/base.html" %}

{% block title %}{{ config['MYPROJ_NAME'] }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{ config['MYPROJ_NAME'] }}</a>
		</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
		  <li><a href="/">{{ _('Home') }}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('main.edit_profile') }}">{{ _('Logged as ') + current_user.username }}</a> </li>
			<li><a href="{{ url_for('proj.dashboard') }}">{{ _('Dashboard') }}</a> </li>
			<li><a href="{{ url_for('auth.logout') }}">{{ _('Sign Out') }}</a></li>
			{% else %}
			<li><a href="{{ url_for('auth.login') }}">{{ _('Sign In') }}</a></li>
			{% endif %}
		</ul>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
	<div class="container">
	{% for message in get_flashed_messages() %}
	    <div class="alert alert-warning">
	        <button type="button" class="close" data-dismiss="alert">&times;</button>
	        {{ message }}
	    </div>
	    {% endfor %}
	   {% block page_content %}{% endblock %}
	</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang("de") }}
    <script type="text/javascript">
	  (function($) {
	      fakewaffle.responsiveTabs(['xs', 'sm']);
	  })(jQuery);
	</script>
{% endblock %}