{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['MYPROJ_NAME'] }} - {{ _('Edit Article') }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ _('Edit Article') }}</h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
